<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/character.css">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8ca221a456.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrap">
    <!-- 네비게이션 -->
    <header class="header">
        <nav>
            <div class="logo">
                <a href="index.html">
                    <img src="../static/imgs/logo.png" alt="">
                </a>
            </div>
            <div class="firstNav">
                <ul>
                    <li>
                        <a href="/character">characters</a>
                    </li>
                    <li>
                        <a href="#">movies</a>
                    </li>
                    <li>
                        <a href="/board/">community</a>
                    </li>
                </ul>
            </div>
            <div class="lastNav">
                <ul>
                    <li>
                        <a href="/member/save">sign in</a>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="/member/login">join</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ham">
                <i class="fa-solid fa-align-justify fa-2x"></i>
            </div>
            <div class="ham_close">
                <i class="fa-solid fa-xmark fa-3x"></i>
            </div>
        </nav>
        <div class="ham_pop">
            <ul>
                <li><a href="#">characters</a></li>
                <li><a href="#">movies</a></li>
                <li><a href="#">community</a></li>
                <li><a href="#">sign in</a></li>
                <li><a href="#">join</a></li>
                <li><input type="text" class="form-control mb-2" placeholder="Search"></li>
            </ul>
        </div>
    </header>

    <!-- 섹션1 메인 이미지 -->
    <section>
        <div></div>
    </section>

    <!-- 카피라이터 -->
    <footer>
        <div>
            <div>
                <p>© 2022 Choi Ji Hwan</p>
            </div>
            <div>
                <a href="https://github.com/waraaa4/marvel" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://waraaa4.github.io/" target="_blank"><i class="fa-solid fa-house"></i></a>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="../static/js/jquery.mCustomScrollbar.js"></script>
</html>